@import "tailwindcss";

:root {
  --background: #18181B;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-heading);
  --font-space-grotesk: var(--font-space-grotesk);
  
  /* Viking Color Palette */
  --color-viking-50: #EFFBFC;
  --color-viking-100: #D7F2F5;
  --color-viking-200: #B4E8ED;
  --color-viking-300: #78CEDD;
  --color-viking-400: #468CA4;
  --color-viking-500: #2A8B80;
  --color-viking-600: #267694;
  --color-viking-700: #258479;
  --color-viking-800: #263364;
  --color-viking-900: #244856;
  --color-viking-950: #13203D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
